.button {
  display: inline-block;
  padding: 0.875rem 1.875rem;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: colors.$text-white;
  background-color: colors.$btn-red;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8);
  transition: all 0.1s ease;
  &:hover {
    background-color: colors.$btn-hover-red;
    transition: background-color 0.3s ease;
  }
  &:active {
    // top: 3px;
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 1px rgb(0, 0, 0.8);
    transition: all 0.1s ease;
  }
}
