// ***BACKGROUND
$background-default: #fff;
$background-started: #fafbfd;
$background-decor: #ec5863;
$background-watch: #f0f0f0;

// ***COLOR TEXT
$text-default: #616161;
$text-black: #0e0e0e;
$text-blue: #4285f4;
$text-red: #ec5863;
$text-white: #fcfdfe;
// ***COLOR BUTTON
$btn-blue: #4285f4;
$btn-red: #ec5863;
$btn-hover-blue: #6a9ff5;
$btn-hover-red: #ec7c84;
